.contact_list {
  width: 500px;
  list-style: circle;
}

.sort_button {
  width: 50px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.sort_button:hover {
  box-shadow: 0px 0px 8px 1px rgb(106, 181, 103);
}